$color-Dark-Violet: hsl(256, 26%, 20%);
$color-Grayish-blue: hsl(216, 30%, 68%);
$color-VeryDarkViolet: hsl(270, 9%, 17%);
$color-Dark-Grayish-Violet: hsla(276, 4%, 51%, 0.815);
$color-Very-Light-Gray: hsl(0, 0%, 98%);
$color-white: #fff;