@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import 'config';

// body{
//     background-color: $color-Dark-Violet;
// }

*{
	box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    text-decoration: none;
	 font-family: 'Lato' , sans-serif;
    list-style-type: none;
}

.navbar{
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.875rem 15%;

	.nav-logo{
		cursor: pointer;
	}

	.nav-menu{
		display: flex;
		align-items: center;
		font-weight: 700;

		.nav-item{
			padding: 0 1.5rem;
			font-size: 2rem;

			.nav-link{
				color: $color-Dark-Grayish-Violet;  
				text-transform: uppercase;  
				transition: all 0.3s ease-in 0s;
				word-spacing: .5rem;

				&:hover{
					color: $color-Dark-Violet;
				}
			}
			
		}


		button{
			cursor: pointer;
			font-size: 1.375rem;
			text-transform: uppercase;
			background: #fff;
			color: $color-Dark-Violet;
			padding: 0.50rem 1.25rem;
			// border-radius: 1.5rem;
			// border: none;
			// color: #fff;
			// font-weight: 700;
			// font-size: 1.3rem;
			transition: all .7s ease-in 0s;
	
			&:hover{
			  background-color: $color-Dark-Violet;
			  color: #fff;
			}
		} 
		
	}

	.hamburger{
		display: none;
		.bar{
			display: block;
			width: 25px;
			background: $color-Dark-Violet;
			height:3px;
			margin: 5px auto;
			-webkit-transition: all 0.3s ease-in-out;
         transition: all 0.3s ease-in-out;
		}
	}
}



.main-header{
	display: flex;
	background-color: $color-Dark-Violet;
	justify-content: space-between;
	padding: 5rem 15%;
	background-image: url(./images/bg-pattern-intro-right-desktop.svg);
	background-repeat: no-repeat;
	background-position: right;
	.header-text{
		width: 50%;
		align-items:center;
		span{
			display: block;
			width: 50%;
			background-color: $color-white;
			height: 1px;
		}

		h1{
			font-size: 5.9rem;
			color: $color-white;
			margin: 2rem 0;
		}

		p{
			color: $color-white;
			font-size: 2rem;
			margin: 1.5rem 0 4rem 0;
			font-weight: 400;

			line-height: 2.5rem;
		}

		button{
			padding: 1rem 3rem;
			border: 2px solid $color-white;
			font-size: 1.5rem;
			background-color: transparent;
			color: $color-white;
			transition: all .5s ease-in-out;
			text-transform: uppercase;
			cursor: pointer;

			&:hover{
				color: $color-Dark-Violet;
				background-color: $color-white;
			}
		}
	}

	.header-img{
		position: relative;
		top: 10rem;


		img{
			width: 90%;
		}
	}
}


.difference{
	padding: 10% 15% 3%;

	h2{
		font-size: 3rem;
		color: $color-Dark-Violet;
	}
	
	.rows{
		margin: 3rem 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		.row1{
			text-align: left;
			// border: 3px solid red;
			padding: 1.4rem 2rem;
			margin: 2rem 0;
			width:100%;
			h3{
				margin: 1.5rem 0;
				font-size: 1.8rem;
				color: $color-Dark-Violet;
				font-weight: 700;
			}

			p{
				font-size: 1.325rem;
				color: $color-Dark-Grayish-Violet;
			}

			img{
				width: 20%;
			}
		}
	}
}


.how-we-work{
	margin: 3rem 15%;
	background-color: $color-Dark-Violet;
	display: flex;
	justify-content: space-between;
	padding: 5rem;
	background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
	background-repeat: no-repeat;
	background-position: right;
	align-items: center;

	h2{
		font-size: 4rem;
		color: $color-white;
		width: 42%;
	}

	button{
		padding: 1rem 3rem;
		border: 1px solid $color-white;
		border: 3px solid red;
		font-size: 1.5rem;
		background-color: transparent;
		color: $color-white;
		transition: all .5s ease-in-out;
		text-transform: uppercase;
		cursor: pointer;

		&:hover{
			color: $color-Dark-Violet;
			background-color: $color-white;
		}
	}
}
.main-footer{
	padding: 3rem 15%;
	display: flex;
	flex-direction: column;
	background-color: $color-Very-Light-Gray;
	background-image: url(./images/bg-pattern-footer-desktop.svg);
	background-position: left;
	background-repeat: no-repeat;
	// padding: 0 3rem;

	span{
		width: 100%;
		background-color:$color-Dark-Grayish-Violet;
		height: 1px;
		margin: 0 0 2rem 0;
	}
	.top{
		display: flex;
		justify-content: space-between;
		margin: 2rem 0;
		align-items: center;

		.socials{
			i{
				padding: 0 0.5rem;
				font-size: 2rem;
				color: $color-Dark-Grayish-Violet;
			}
			
		}
	}

	.bottom{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		text-transform: uppercase;
		line-height: 3rem;

		.lists{
			ul{
				color: $color-Dark-Violet;
				font-weight: 600;
				letter-spacing: .1rem;

				li{
					font-size: 1.5rem;
				}
			}

			.one{
				padding: 2rem 0;
				color: $color-Dark-Grayish-Violet;
			}
		}
	}
}






















































@media only screen and (max-width:768px){
	.navbar{
		width: 100%;
		padding: 1.875rem 5%;
		
		.nav-menu{
  
		  flex-direction: column;
		  position: fixed;
		  left: -100%;
		  top: 7rem;
		  width: 100%;
		  text-align: center;
		  transition: 0.3s;
		  color: #fff;
		  background-color: $color-Dark-Violet;
		  z-index: 1;
		  &.active{
				left: 0;
		  }

		  .nav-item{
			margin: 2.5rem 0;
			color: $color-white;
			// background-color: red;
			font-weight: 500;
		  
				.nav-link{
				color: $color-white;
					font-size: 2rem;
				}
	  		}

			  button{
				margin-top: 3rem;
				border: 2px solid #fff;
				background: none;
				color: #fff;
				word-spacing: 1rem;
				margin-bottom: 6rem;
			}
		}
  
		
  
		.hamburger{
			 display:block;
			 cursor: pointer;
			 
		  &.active{

			 .bar:nth-child(2){
				  opacity: 0;
			 }
  
  
			 .bar:nth-child(1){
				  transform: translateY(8px) rotate(45deg);
			 }
  
			 .bar:nth-child(3){
				  transform: translateY(-8px) rotate(-45deg);
			 }
		  }
		}
  
	}


	.main-header{
		padding: 1.875rem 5%;

		.header-text{
			width: 100%;

			span{
				display: none;
			}

			h1{
				font-size: 5rem;
			}
		}
		.header-img img{
				width: 50%;
		}
		
	}


	.difference{
		padding: 1.875rem 5%;
		margin-top: 10%;
	}

	.how-we-work{
		margin: 3rem 5%;
	}

	.main-footer{
		padding: 3rem 5%;
	}
}





















































@media only screen and (max-width: 500px){
	.main-header{
		flex-direction: column-reverse;
		margin: 0;
		padding: 0;
		width: 100%;


		.header-text{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			padding: 4rem;

			h1{
				font-size: 4rem;
				width: 70%;
			}

			p{
				width: 70%;
			}
		}
		

		.header-img{
			top: 0;
			margin-bottom: 10rem;
			width: 100%;

			img{
				width: 100%;
			}
		}
	}

	.difference{
		text-align: center;

		.rows{
			display: flex;
			flex-direction: column;
			
			.row1{
				text-align: center;

				h3{
					font-size: 2.5rem;
				}

				p{
					font-size: 1.5rem;
				}

				img{
					width: 30%;
				}
			}
		}
	}

	.how-we-work{
		flex-direction: column;
		padding: 1rem;
		text-align: center;
		margin: 2rem;

		h2{
			width: 100%;
		}

		button{
			margin: 4rem;
		}
	}

	.main-footer{

		justify-content: center;
		.top{
			flex-direction: column;
			justify-content: center;
			.socials{
				margin-top: 4rem;
			}
		}

		.bottom{
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
	}
}
