@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  list-style-type: none;
}

.navbar {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 15%;
}
.navbar .nav-logo {
  cursor: pointer;
}
.navbar .nav-menu {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.navbar .nav-menu .nav-item {
  padding: 0 1.5rem;
  font-size: 2rem;
}
.navbar .nav-menu .nav-item .nav-link {
  color: hsla(276deg, 4%, 51%, 0.815);
  text-transform: uppercase;
  transition: all 0.3s ease-in 0s;
  word-spacing: 0.5rem;
}
.navbar .nav-menu .nav-item .nav-link:hover {
  color: hsl(256deg, 26%, 20%);
}
.navbar .nav-menu button {
  cursor: pointer;
  font-size: 1.375rem;
  text-transform: uppercase;
  background: #fff;
  color: hsl(256deg, 26%, 20%);
  padding: 0.5rem 1.25rem;
  transition: all 0.7s ease-in 0s;
}
.navbar .nav-menu button:hover {
  background-color: hsl(256deg, 26%, 20%);
  color: #fff;
}
.navbar .hamburger {
  display: none;
}
.navbar .hamburger .bar {
  display: block;
  width: 25px;
  background: hsl(256deg, 26%, 20%);
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.main-header {
  display: flex;
  background-color: hsl(256deg, 26%, 20%);
  justify-content: space-between;
  padding: 5rem 15%;
  background-image: url(./images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.main-header .header-text {
  width: 50%;
  align-items: center;
}
.main-header .header-text span {
  display: block;
  width: 50%;
  background-color: #fff;
  height: 1px;
}
.main-header .header-text h1 {
  font-size: 5.9rem;
  color: #fff;
  margin: 2rem 0;
}
.main-header .header-text p {
  color: #fff;
  font-size: 2rem;
  margin: 1.5rem 0 4rem 0;
  font-weight: 400;
  line-height: 2.5rem;
}
.main-header .header-text button {
  padding: 1rem 3rem;
  border: 2px solid #fff;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}
.main-header .header-text button:hover {
  color: hsl(256deg, 26%, 20%);
  background-color: #fff;
}
.main-header .header-img {
  position: relative;
  top: 10rem;
}
.main-header .header-img img {
  width: 90%;
}

.difference {
  padding: 10% 15% 3%;
}
.difference h2 {
  font-size: 3rem;
  color: hsl(256deg, 26%, 20%);
}
.difference .rows {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.difference .rows .row1 {
  text-align: left;
  padding: 1.4rem 2rem;
  margin: 2rem 0;
  width: 100%;
}
.difference .rows .row1 h3 {
  margin: 1.5rem 0;
  font-size: 1.8rem;
  color: hsl(256deg, 26%, 20%);
  font-weight: 700;
}
.difference .rows .row1 p {
  font-size: 1.325rem;
  color: hsla(276deg, 4%, 51%, 0.815);
}
.difference .rows .row1 img {
  width: 20%;
}

.how-we-work {
  margin: 3rem 15%;
  background-color: hsl(256deg, 26%, 20%);
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
  align-items: center;
}
.how-we-work h2 {
  font-size: 4rem;
  color: #fff;
  width: 42%;
}
.how-we-work button {
  padding: 1rem 3rem;
  border: 1px solid #fff;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}
.how-we-work button:hover {
  color: hsl(256deg, 26%, 20%);
  background-color: #fff;
}

.main-footer {
  padding: 3rem 15%;
  display: flex;
  flex-direction: column;
  background-color: hsl(0deg, 0%, 98%);
  background-image: url(./images/bg-pattern-footer-desktop.svg);
  background-position: left;
  background-repeat: no-repeat;
}
.main-footer span {
  width: 100%;
  background-color: hsla(276deg, 4%, 51%, 0.815);
  height: 1px;
  margin: 0 0 2rem 0;
}
.main-footer .top {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  align-items: center;
}
.main-footer .top .socials i {
  padding: 0 0.5rem;
  font-size: 2rem;
  color: hsla(276deg, 4%, 51%, 0.815);
}
.main-footer .bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-transform: uppercase;
  line-height: 3rem;
}
.main-footer .bottom .lists ul {
  color: hsl(256deg, 26%, 20%);
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.main-footer .bottom .lists ul li {
  font-size: 1.5rem;
}
.main-footer .bottom .lists .one {
  padding: 2rem 0;
  color: hsla(276deg, 4%, 51%, 0.815);
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    padding: 1.875rem 5%;
  }
  .navbar .nav-menu {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 7rem;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    color: #fff;
    background-color: hsl(256deg, 26%, 20%);
    z-index: 1;
  }
  .navbar .nav-menu.active {
    left: 0;
  }
  .navbar .nav-menu .nav-item {
    margin: 2.5rem 0;
    color: #fff;
    font-weight: 500;
  }
  .navbar .nav-menu .nav-item .nav-link {
    color: #fff;
    font-size: 2rem;
  }
  .navbar .nav-menu button {
    margin-top: 3rem;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    word-spacing: 1rem;
    margin-bottom: 6rem;
  }
  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .main-header {
    padding: 1.875rem 5%;
  }
  .main-header .header-text {
    width: 100%;
  }
  .main-header .header-text span {
    display: none;
  }
  .main-header .header-text h1 {
    font-size: 5rem;
  }
  .main-header .header-img img {
    width: 50%;
  }
  .difference {
    padding: 1.875rem 5%;
    margin-top: 10%;
  }
  .how-we-work {
    margin: 3rem 5%;
  }
  .main-footer {
    padding: 3rem 5%;
  }
}
@media only screen and (max-width: 500px) {
  .main-header {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .main-header .header-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem;
  }
  .main-header .header-text h1 {
    font-size: 4rem;
    width: 70%;
  }
  .main-header .header-text p {
    width: 70%;
  }
  .main-header .header-img {
    top: 0;
    margin-bottom: 10rem;
    width: 100%;
  }
  .main-header .header-img img {
    width: 100%;
  }
  .difference {
    text-align: center;
  }
  .difference .rows {
    display: flex;
    flex-direction: column;
  }
  .difference .rows .row1 {
    text-align: center;
  }
  .difference .rows .row1 h3 {
    font-size: 2.5rem;
  }
  .difference .rows .row1 p {
    font-size: 1.5rem;
  }
  .difference .rows .row1 img {
    width: 30%;
  }
  .how-we-work {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    margin: 2rem;
  }
  .how-we-work h2 {
    width: 100%;
  }
  .how-we-work button {
    margin: 4rem;
  }
  .main-footer {
    justify-content: center;
  }
  .main-footer .top {
    flex-direction: column;
    justify-content: center;
  }
  .main-footer .top .socials {
    margin-top: 4rem;
  }
  .main-footer .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */